# -------------------------------
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
# 仮想環境（例: venv, .venv, env, .env）
.venv/
env/
# 環境変数ファイル
*.env

# -------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# -------------------------------
# VS Code
.vscode/

# -------------------------------
# ログ・一時ファイル
*.log
*.tmp
